.icon {
    color: aliceblue;
}  

#login{
    color: aliceblue;
}

.nav{
    position: sticky;
    /* width: 100%; */
    height: 5rem;
    margin: 0;
    padding: 1rem;
    top: 0;
    clear: both;
}   

.nav ul{
    margin: 1rem;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.nav ul li{
    list-style: none;
    font-size:1.5rem;
}

.right{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide{
    display: none;
}